@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.container{
    background-color: hsl(0, 0%, 100%);
    align-items: center;
    justify-content: center;
    width: 350px;
    height: auto;
    border-radius: 20px;
    margin: 120px 650px;
    padding: 20px 20px 50px 20px;
}
.code{
    justify-content: center;
    align-items: center;
}
.code img{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
 }
 .quotes{
    font-size: 15px;
    text-align: center;
    height: 170px;
    margin: 10px;
 }
 .quotes h1{
    margin: 5px;
 }
 .quotes p{
     color: hsl(220, 15%, 55%);
     margin: 5px;
 }
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }